.panel.panel-default
  .panel-heading
    %h2= @report.name

  .panel-body
    %h3= @report.description

    %br
    - @report.tasks.each do |task|
      %p
        %strong
          Caso de teste:
          #{ task.name }
          %span.label.label-info= @report.environment

      %ul.checklists
        - task.checklists.each do |checklist|
          %li= checklist.description

      %br
